/* Reset dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212; /* Latar belakang gelap */
    box-shadow: inset 0 0 100px rgba(255, 64, 129, 0.5); /* Efek glow */
}

.container {
    text-align: center;
}

.modern-button {
    padding: 20px 40px; /* Meningkatkan padding tombol */
    font-size: 22px; /* Meningkatkan ukuran font */
    color: #fff; /* Warna teks putih */
    background-image: linear-gradient(45deg, #ff4081, #e91e63); /* Efek gradien pink */
    border: none; /* Tanpa border */
    border-radius: 25px; /* Sudut membulat */
    cursor: pointer; /* Kursor tangan saat hover */
    transition: background-image 0.5s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Transisi untuk efek hover */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2), 0 8px 20px rgba(255, 64, 129, 0.5); /* Bayangan tombol dengan efek glow */
}

/* Efek hover */
.modern-button:hover {
    background-image: linear-gradient(45deg, #e91e63, #ff4081); /* Warna latar belakang saat hover */
    transform: translateY(-4px) scale(1.05); /* Efek angkat dan sedikit membesar saat hover */
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.4), 0 0 30px rgba(255, 64, 129, 0.7); /* Bayangan lebih dalam dan efek glow saat hover */
}

/* Efek fokus */
.modern-button:focus {
    outline: none; /* Menghilangkan outline default */
}

.a-link {
    color: #fff;
    text-decoration: none;
}